%p Hello!

%p On behalf of the Open Disclosure team at OpenOakland -- thank you for subscribing to our Open Disclosure Alerts! Here's what you just subscribed to:

%p Currently, we report the filing of all forms via the #{link_to 'City of Oakland NetFile', 'https://public.netfile.com/pub2/?aid=COAK'}, although we are only currently able to extract information from a few of them (460, 496, 497, and 700). For the rest, you may have to click through to the original filing in order to read it.

%p
  You might not receive an email every day: we'll only send one if there was at least one filing the previous day. During the election cycle, we seem to be getting an email every other day or so. Big batches of filings tend to come in close to the
  #{link_to 'major deadlines', 'http://www.fppc.ca.gov/content/dam/fppc/NS-Documents/TAD/Filing%20Schedules/2020/2020_01_LCL_Nov_3_Can.pdf'}, which are:

%ul
  %li
    %strong August 5
    – Beginning of 24-hour 496/497 Filing (Late Independent Expenditure/Contribution Reports)
  %li
    %strong September 24
    – First Pre-Election 460 Filing (for candidates and ballot measure committees)
  %li
    %strong October 22
    – Second Pre-Election 460 Filing
  %li
    %strong February 1, 2021
    – Post-Election Semi-Annual 460 Filing

%p Emails will come from "Open Disclosure Alerts &lt;alert@opendisclosure.io&gt;" so you may want to add that address to your contacts so the email makes it to your inbox more reliably.

%p
  And last but not least, we want to extend an invitation for you to
  %b reply to this email with feedback on your experience
  on how we can make the product better. This is a constant work-in-progress for us and we want to make it as useful as possible!

Best,
%br
Tom and the Open Disclosure Team at
= link_to 'OpenOakland', 'https://openoakland.org'

%p &nbsp;
%p
  \---
  %br
  p.s. You can
  = link_to 'unsubscribe at any time.',
  edit_alert_subscriber_url(@alert_subscriber, token: @alert_subscriber.token)
