%strong Total Contributions Received:
= amended_value_if_different(f, :total_amount)
%br
- if f.total_amount > 250
  %strong Largest Contributions Received:
  %ul
    = format_money_list(f.contributions,
      key: 'calculated_Amount',
      extra: '%{count} other contributions') do |contribution|
      #{format_money(contribution['calculated_Amount'])} – #{contribution['tran_NamL']}
