!!!
%html
  %head
    = stylesheet_link_tag 'email'
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }

  %body
    %table{ width: "100%" }
      %tr
        %td.email-title
          .container
            Open Disclosure Alerts

      - if @email_notice.present?
        %tr
          %td
            - if @email_notice.informational?
              .container.container--informational
                = raw(@email_notice.body)
            - else
              .container.container--notice
                %strong Notice:
                = raw(@email_notice.body)

      %tr
        %td
          .container.container--main
            = yield
