!!!
%html
  %head
    = stylesheet_link_tag 'email'
    %meta{ 'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8' }

  %body
    %table{ width: "100%" }
      %tr
        %td.email-title
          .container
            Open Disclosure Alerts

      - if @email_notice
        %tr
          %td
            .container.container--notice
              %strong Notice:
              = @email_notice

      %tr
        %td
          .container.container--main
            = yield
